.body
  width: 180px
  background: rgba(0,0,0,0)

.button.arrow.column
  display: flex
  flex-direction: row
  align-items: center
  height: 700px

.toggle.menu.button
  margin-left: 50px
  cursor: pointer
  transform: scale(3)

.sidenav
  margin: 20px
  margin-left: 3px
  border: none
  background: rgba(0,0,0,0)

.button.panel
  display: flex
  align-items: center
  height: 650px

.button.column
  display: flex
  flex-direction: column
  gap: 20px

.playlist.box
  position: relative
  cursor: move
  display: none
  left: 250px
  bottom: 260px
  border-radius: 45px
  margin: 30px
  z-index: 99999
  width: 300px
  padding: 30px
  background-image: radial-gradient(#7d35a2, #2724248f)

.bg 
   position: fixed
   right: 0
   bottom: 0
   min-width: 100%
   min-height: 100%
   z-index: -9999
