<mat-drawer-container class="body" autosize>
   <mat-drawer #drawer class="sidenav" mode="side">
      <div class="button panel">
      <div class="button column">
         <button color="primary" (click)="positionBtn()" mat-fab>
            <mat-icon>place</mat-icon>
         </button>
         <button color="primary" (click)="favoriteBtn()" mat-fab>
            <mat-icon>star</mat-icon>
         </button>
         <button color="primary" (click)="openSearch(template)" mat-fab>
            <mat-icon>search</mat-icon>
         </button>
      </div>
      </div>
   </mat-drawer>
   <div class="button arrow column">
      <mat-icon 
        class="toggle menu button" 
        color="primary"
        (click)="drawer.toggle()"
        (click)="showFiller = !showFiller">
        arrow_{{showFiller ? 'back' : 'forward'}}_ios
      </mat-icon>
   </div>
</mat-drawer-container>
<button class="choose background" color="primary"
   mat-raised-button
   [matMenuTriggerFor]="menu">
   Choose background
</button>
<mat-menu #menu="matMenu" class="background menu">
  <button mat-menu-item 
     (click)="chooseBackgroundBtn('../../../assets/background/chilling-alone.mp4')">
     Chilling alone</button>
  <button mat-menu-item 
     (click)="chooseBackgroundBtn('../../../assets/background/chilling-with-cat.mp4')">
     Chilling with cat</button>
  <button mat-menu-item 
     (click)="chooseBackgroundBtn('../../../assets/background/calm-lake.mp4')">
     Calm lake</button>
  <button mat-menu-item 
     (click)="chooseBackgroundBtn('../../../assets/background/temple-rain.mp4')">
     Night temple rain</button>
  <button mat-menu-item 
     (click)="chooseBackgroundBtn('../../../assets/background/king-wash.mp4')">
     King wash</button>
  <button mat-menu-item 
     (click)="chooseBackgroundBtn('../../../assets/background/sunset-surfer.mp4')">
     Sunset surfer girl</button>
  <button mat-menu-item 
     (click)="chooseBackgroundBtn('../../../assets/background/room-candles.mp4')">
     Room with Candles</button>
</mat-menu>
<ng-template #template>
     <form class="search form">
      <input
         type="text"
         autocomplete="off"
         name="searchInput"
         placeholder="Ctrl-V Spotify URL playlist here"
         class="search field"
         [(ngModel)]="searchInput"
      />
      <mat-icon class="search form icon" (click)="searchPlaylistBtn()">search</mat-icon>
     </form>
</ng-template>
