.body
  width: 100%
  height: 700px
  background: rgba(0,0,0,0)

.toggle.menu.button
  margin-left: 40px
  height: 50px
  border: none
  border-radius: 15px
  background-image: radial-gradient(#d5d5d5, #32a527ba)
  top: 95px

.sidenav
  margin: 20px
  margin-left: 0
  border: none
  background: rgba(0,0,0,0)

.button.column
  display: flex
  flex-direction: column
  gap: 20px
