<mat-drawer-container class="body" autosize>
   <mat-drawer #drawer class="sidenav" mode="side">
      <div class="button panel">
      <div class="button column">
         <button color="primary" (click)="positionBtn()" mat-fab>
            <mat-icon>place</mat-icon>
         </button>
         <button color="primary" (click)="favoriteBtn()" mat-fab>
            <mat-icon>star</mat-icon>
         </button>
      </div>
      </div>
   </mat-drawer>
   <div class="button arrow column">
      <mat-icon 
        class="toggle menu button" 
        color="primary"
        (click)="drawer.toggle()"
        (click)="showFiller = !showFiller">
        arrow_{{showFiller ? 'back' : 'forward'}}_ios
      </mat-icon>
   </div>
</mat-drawer-container>
