.body
  width: 180px
  background: rgba(0,0,0,0)

.button.arrow.column
  display: flex
  flex-direction: row
  align-items: center
  height: 700px

.toggle.menu.button
  margin-left: 50px
  cursor: pointer
  transform: scale(3)

.sidenav
  margin: 20px
  margin-left: 3px
  border: none
  background: rgba(0,0,0,0)

.button.panel
  display: flex
  align-items: center
  height: 650px

.button.column
  display: flex
  flex-direction: column
  gap: 20px

.choose.background
  position: absolute
  top: 0px
  right: 0px
  align-self: center

.background.menu
  background: #663ab6 !important

.mdc-list-item__primary-text
  color: white !important
